html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/* Personalize a animação do modal */
.modal, .modal-dialog {
    transition: all 0.4s ease-out;
}

.modal.fade .modal-dialog {
    transform: translateY(-50px);
    transition: transform 0.4s ease-out;
}

.modal.fade.show .modal-dialog {
    transform: translateY(0);
}


.btn-primary {
    background-color: #00acff;
    border-color: #00acff;
}

