@model OdontoFast.DTOs.DentistaDto

@{
    ViewData["Title"] = "Home Page";
    var nomes = Model.NomeDentista.Split(' ');
    var primeiroNome = nomes[0];
    var segundoNome = nomes.Length > 1 ? nomes[1] : "";
}

<div>

    <h1 class="fw-bold">
        Olá @primeiroNome @segundoNome!
    </h1>

    <h2 class="mb-5">Bem-vindo(a) ao Portal de Administração Dentista </h2>


    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="3" aria-label="Slide 4"></button>
        </div>
        <div class="carousel-inner" style="height: 41rem">
            <div class="carousel-item active h-100">
                <div class="d-flex justify-content-center h-100">
                    <img src="~/img/slide1.png" class="d-block h-100" style="height: 100vh; object-fit: contain; border-radius: .5rem" data-bs-interval="4000">
                </div>
            </div>
            <div class="carousel-item h-100">
                <div class="d-flex justify-content-center h-100">
                    <img src="~/img/slide2.png" class="d-block h-100" style="height: 100vh; object-fit: contain; border-radius: .5rem" data-bs-interval="4000">
                </div>
            </div>
            <div class="carousel-item h-100">
                <div class="d-flex justify-content-center h-100">
                    <img src="~/img/slide3.png" class="d-block h-100" style="height: 100vh; object-fit: contain; border-radius: .5rem" data-bs-interval="4000">
                </div>
            </div>
            <div class="carousel-item h-100">
                <div class="d-flex justify-content-center h-100">
                    <img src="~/img/slide4.png" class="d-block h-100" style="height: 100vh; object-fit: contain; border-radius: .5rem" data-bs-interval="4000">
                </div>
            </div>
            <button class="carousel-control-prev bg-secondary" style="background: linear-gradient(to top, #00acff55, #00acff); border-radius: 3rem .5rem .5rem 3rem" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next bg-secondary" style="background: linear-gradient(to top, #00acff55, #00acff); border-radius: .5rem 3rem 3rem .5rem" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
    </div>



</div>
