@model OdontoFast.DTOs.DentistaDto

@{
    ViewData["Title"] = "Perfil do Dentista";
}


<div class="container mt-5 p-5" style="background: #F2F2F2; border-radius: 1rem">
    <h2 class="mb-5">Perfil do Dentista</h2>

    <form asp-controller="Dentista" asp-action="Update" method="post">
        <input type="hidden" asp-for="IdDentista" />

        <div class="login__box">
            <i class='bx bx-user login__icon'></i>
            <input type="text" asp-for="NomeDentista" class="login__input" id="NomeDentista" />
            <span asp-validation-for="NomeDentista" class="text-danger"></span>
        </div>

        <div class="login__box">
            <i class='bx bxs-user-badge login__icon'></i>
            <input type="text" asp-for="Cro" class="login__input" style="color: #A49EAC " id="Cro" readonly />
            <span asp-validation-for="Cro" class="text-danger"></span>
        </div>

        <div class="login__box">
            <i class='bx bx-badge-check login__icon'></i>
            <input type="text" asp-for="Especialidade" class="login__input" id="Especialidade" />
            <span asp-validation-for="Especialidade" class="text-danger"></span>
        </div>

        <div class="d-flex justify-content-between mt-4">
            <button type="submit" class="btn btn-primary">Atualizar Dados</button>

            <button type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#exampleModal">
                Excluir Conta
            </button>
        </div>
    </form>

    <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
        <div id="liveToast" class="toast bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <i class='rounded me-2 bx bxs-check-circle'></i>
                <strong class="me-auto">Sucesso!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                @TempData["okMsg"]
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Atenção</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Realmente deseja confirmar a exclusão da conta?
                </div>
                <form asp-action="Delete" asp-controller="Dentista" method="post" class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Confirmar</button>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}


    @if (TempData["okMsg"] != null)
    {
    <script type="text/javascript">
        var toast = new bootstrap.Toast(document.getElementById('liveToast'));
        toast.show();
    </script>
    }
}
