@model OdontoFast.DTOs.DentistaLoginDto

@{
    ViewData["Title"] = "Login";
}

<!-- Main Container -->
<div class="login">
    <div class="login__content">
        <div class="login__img">
            <img src="~/img/img-login.svg" alt="Login Image">
        </div>

        <div class="login__forms">
            <form method="post" asp-controller="Dentista" asp-action="Login" class="login__registre" id="login-in">
                <h1 class="login__title fw-bold">Entrar</h1>

                @if (TempData["ErrorMessage"] != null)
                {
                <div class="alert alert-danger">@TempData["ErrorMessage"]</div>
                }

                <div class="login__box">
                    <i class='bx bx-user login__icon'></i>
                    <input type="text" asp-for="Cro" class="login__input" placeholder="CRO" required />
                    <span asp-validation-for="Cro" class="text-danger"></span>
                </div>

                <div class="login__box">
                    <i class='bx bx-lock-alt login__icon'></i>
                    <input type="password" asp-for="SenhaDentista" class="login__input" placeholder="Senha" required />
                    <span asp-validation-for="SenhaDentista" class="text-danger"></span>
                </div>

                <button type="submit" class="login__button btn btn-primary">Entrar</button>

                <div>
                    <span class="login__account">Nao tem uma conta?</span>
                    <a asp-controller="Signup" asp-action="Index" class="login__signin">Cadastre-se</a>
                </div>
            </form>
        </div>
    </div>

    <div class="position-fixed top-0 end-0 p-3" style="z-index: 11">
        <div id="msgRegistro" class="toast bg-success text-white" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <i class='rounded me-2 bx bxs-check-circle'></i>
                <strong class="me-auto">Regitro Realizado!</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Registro realizado! Agora você pode acessar o portal de administração utilizando seu CRO e Senha.
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/js/login-signup.js"></script> <!-- Adicione esta linha para o JavaScript -->


    @if (TempData["msgRegistro"] != null)
    {
    <script type="text/javascript">
        var toast = new bootstrap.Toast(document.getElementById('msgRegistro'));
        toast.show();
    </script>
    }
}
